# Ejercicio OpenStreetMap
Para este ejercicio vas a trabar con Overpass, que es la API que utiliza los datos de OpenStreetMap. Tras obtener datos geográficos mediante la API, tendrás que representarlos con Plotly.

Hay que obtener los siguientes datos de cada ubicación conseguida en OpenStreetMap
* tipo de amenity
* latitud
* longitud
* nombre
* direccion

**NOTA**: En este Notebook utilizarás gráficas de Plotly, y JupyterLab de momento no lo soporta, a no ser que instales una extensión. Para solucionar esto, abre el Notebook desde Jupyter normal:

![imagen](./img/jupyter.png)

Tienes en [este enlace](https://wiki.openstreetmap.org/wiki/Key:amenity#Healthcare) la lista de *amenities* que vas a usar en el notebook.

## Instalación
Si no tienes instalado Plotly, abre un terminal y escribe:
```
pip install plotly
```

Importa las librerias que vamos a usar en el Notebook

In [1]:
#!pip3 install plotly

In [15]:
import requests
import json
import pandas as pd

Ataca a la API de OpenStreetmap con el siguiente código de ejemplo

In [16]:
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json];
node["amenity"="ice_cream"]
  (40.420801, -3.694702,40.423754, -3.688167); 
out;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
print(response)

<Response [200]>

In [17]:
data = response.json()

In [18]:
data

{'version': 0.6,
 'generator': 'Overpass API 0.7.59 e21c39fe',
 'osm3s': {'timestamp_osm_base': '2022-11-02T00:26:09Z',
  'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'},
 'elements': []}

In [19]:
data['elements']

[]

Con el siguiente código podrás adaptar el JSON que devuelve la API, a un formato DataFrame más amigable

In [20]:
def json_to_df(data):
    elements = data['elements']

    places = {'tipo': [], 'lat': [], 'lon': [], 'name': [], 'address': []}
    
    for i in elements:        
        tipo = i.get('tags', None).get('amenity', None)
        latitude = i.get('lat', None)
        longitude = i.get('lon', None)
        name = i.get('tags', {}).get('name', "NO NAME")
        street = i.get('tags', {}).get('addr:street', "NO STREET")
        number = i.get('tags', {}).get('addr:housenumber', 9999)

        places['tipo'].append(tipo)
        places['lat'].append(latitude)
        places['lon'].append(longitude)
        places['name'].append(name)
        places['address'].append(street + ' ' + str(number))

            
    return pd.DataFrame(places)

In [21]:
nombre_dataframe = json_to_df(data)

In [22]:
nombre_dataframe

Empty DataFrame
Columns: [tipo, lat, lon, name, address]
Index: []

Utilizarás esta función para representar los datos en un mapa de Matplotlib

In [23]:
import plotly.express as px

mapbox_access_token = "pk.eyJ1IjoiZGFvcnRpIiwiYSI6ImNrZnF6M3FlczA3cDEyem16YTNzZmV4M2EifQ.846iF0sMSAXv0kwkwUTYjg"

def pinta_mapa(df):
    fig = px.scatter_mapbox(df,
                            lat="lat",
                            lon="lon",
                            color = "tipo",
                      color_continuous_scale=px.colors.cyclical.IceFire, size_max=15, zoom=11)
    fig.update_layout(
        mapbox=dict(
            accesstoken=mapbox_access_token
        )
    )

    fig.show()

Como ejemplo, si quiero ver cuántos restaurantes tengo cerca de The Bridge:

In [ ]:
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json];
node["amenity"="restaurant"]
  (40.420801, -3.694702,40.423754, -3.688167); 
out;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
print(response)
data = response.json()
df = json_to_df(data)
df

In [24]:
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json];
node["amenity"="restaurant"]
  (40.420801, -3.694702,40.423754, -3.688167); 
out;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
print(response)
data = response.json()
df = json_to_df(data)
df

<Response [200]>

,tipo,lat,lon,name,address
0,restaurant,40.423086,-3.693547,La Castafiore,NO STREET 9999
1,restaurant,40.422607,-3.693256,Sake Dining Himawari,NO STREET 9999
2,restaurant,40.423315,-3.692506,Ainhoa,Calle de Doña Bárbara de Braganza 12
3,restaurant,40.421960,-3.694270,La Kitchen,NO STREET 9999
4,restaurant,40.423695,-3.691651,Café Espejo,NO STREET 9999
5,restaurant,40.421951,-3.693535,Tampu,Calle de Prim 13
6,restaurant,40.422266,-3.694097,Casa Gades,Calle del Conde de Xiquena 4
7,restaurant,40.423151,-3.694062,El Cano de Xiquena,NO STREET 9999
8,restaurant,40.423345,-3.692632,El Gato Persa,Calle de Doña Bárbara de Braganza 10
9,restaurant,40.422441,-3.694220,Cannibal Raw Bar,Calle del Almirante 12
10,restaurant,40.422395,-3.691137,Dingo Restaurant,Paseo Recoletos 14
11,restaurant,40.421872,-3.690240,Banzai,NO STREET 9999
12,restaurant,40.421948,-3.690353,mama chico,NO STREET 9999
13,restaurant,40.421130,-3.689796,dokidoki,NO STREET 9999
14,restaurant,40.423600,-3.693725,Luke,Calle de Doña Bárbara de Braganza 2
15,restaurant,40.422141,-3.690864,Taberna Pedraza,Calle de Recoletos 4
16,restaurant,40.422379,-3.689518,Flavia,Calle de Gil de Santivañes 2
17,restaurant,40.422151,-3.690570,Al-Mounia,NO STREET 9999
18,restaurant,40.422777,-3.689781,SQD Meat Point,Calle de Villanueva 2
19,restaurant,40.422255,-3.694251,Merci,Calle del Conde de Xiquena 3
20,restaurant,40.422576,-3.694493,Mortadella,Calle del Almirante 11
21,restaurant,40.422081,-3.690748,New York Burger,Calle de Recoletos 4
22,restaurant,40.421821,-3.689824,Mestizo,Calle de Recoletos 13
23,restaurant,40.422941,-3.694051,Restaurante la Buena Vida,NO STREET 9999
24,restaurant,40.422426,-3.693418,Delirant,Calle del Almirante 20
25,restaurant,40.422211,-3.690702,Pelotari,NO STREET 9999
26,restaurant,40.422235,-3.690743,El Pelotari,NO STREET 9999
27,restaurant,40.422014,-3.690600,NOI,Calle de Recoletos 6
28,restaurant,40.422405,-3.693045,Regañadientes,NO STREET 9999

In [26]:
#pinta_mapa(df)

## Ejercicio 1
### Búsqueda de aparcamiento
Para este caso de uso imagina que vas a Madrid de viaje y estás buscando posibles parkings donde dejar el coche, crea un DataFrame con todos los parkings (de OpenStreetMap) de la ciudad de Madrid. Para ello define una cuadrícula con dos coordenadas sobre Madrid.

Representa en un mapa los resultados

In [27]:
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json];
node["amenity"="parking"]
  (40.3942, -3.7004, 40.4015, -3.6940); 
out;
"""

In [28]:
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
print(response)

<Response [200]>

In [29]:

data_parkings = response.json()

In [30]:

json_to_df(data_parkings)

      tipo        lat       lon     name         address
0  parking  40.398096 -3.694451  NO NAME  NO STREET 9999
1  parking  40.394493 -3.698652  NO NAME  NO STREET 9999

In [32]:
df_parking = json_to_df(data_parkings)

In [105]:
df_parking

      tipo        lat       lon     name         address
0  parking  40.398096 -3.694451  NO NAME  NO STREET 9999
1  parking  40.394493 -3.698652  NO NAME  NO STREET 9999

In [32]:
# paso 2: dado que la funcion pinta_mapa requiere un ataframe, utilizamos la variable df_parking donde habiamos guardado el dataframe generado por la funcion json_to_df porque tiene un return
#pinta_mapa(df_parking)

## Mudanza
Imagina que te quieres mudar al Berrueco, pero antes te gustaría obtener algún indicador de si hay civilización por esa zona. Mira a ver si existe gasolineras y/o colegios por la zona. Define, al igual que en el caso anterior, un rectángulo mediante dos coordenadas. Busca la manera de realizar una única petición a la API.

Representa después en un mapa, por color los colegios y gasolineras

In [33]:
overpass_query_barrueco = """
[out:json];
node["amenity"~"school | fuel"]
  (40.9861, -1.4772, 40.9960, -1.4572); 
out;
"""

In [ ]:
response = requests.get(overpass_url, 
                        params={'data': overpass_query_barrueco})
print(response)

In [ ]:
data_barrueco = response.json()

In [ ]:
data_barrueco

In [ ]:
df_barrueco = json_to_df(data_barrueco)

In [42]:
df_barrueco

Empty DataFrame
Columns: [tipo, lat, lon, name, address]
Index: []

## Zonas COVID
Imagina que trabajas en el ayuntamiento de tu barrio/pueblo/ciudad, y por motivos del COVID tienes que identificar:
1. Todas las zonas abiertas de uso común (zonas de barbacoas, fuentes de agua y parques infantiles (kindergarten)), para cerrarlas.
2. Todos los hospitales y clínicas de la zona.

Como no sabes muy bien qué puntos serán, utilizas la API de OpenStreetMap. Representa todo en un único mapa

In [63]:
overpass_query_barrueco = """
[out:json];
node["amenity"="hospital"]
  (40.420801, -3.694702,40.423754, -3.688167); 
out;
"""

In [64]:
response = requests.get(overpass_url, 
                        params={'data': overpass_query_barrueco})
print(response)

<Response [200]>

In [65]:
data_barrueco = response.json()

In [66]:
data_barrueco

{'version': 0.6,
 'generator': 'Overpass API 0.7.59 e21c39fe',
 'osm3s': {'timestamp_osm_base': '2022-11-01T21:57:52Z',
  'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'},
 'elements': []}

## Supermercados
Para este ejemplo supondrás que trabajas en una cadena de supermercados en la que se está planteando construir un nuevo local en la provincia de Sevilla. Busca mediante la API de Overpass todos los supermercados de la provincia para poder comprobar en qué nucleos urbanos habría poca competencia.

En este caso hay que buscar por área, no por cuadrícula! Investiga en la documentación/Stackoverflow cómo se haría eso.

## Etiqueta en el mapa
Busca la manera de modificar la función `pinta_mapa()`, de tal manera que cuando pases el ratón por encima de cada punto, aparezca el nombre de cada nodo. Por ejemplo, que en el último apartado aparezcan los nombres de los supermercados.

# estudiar diferencias entre print y return

In [98]:
def test_return(word):
    final_word = f'{word} pa ti'
    return final_word

In [99]:
def test_no_return(word):
    final_word = f'{word} pa ti'
    print(final_word)

In [100]:
sentence2 = test_no_return('polla')

polla pa ti

In [101]:
sentence2

In [102]:
sentence = test_return('polla')

In [103]:
sentence

'polla pa ti'