# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv(address, sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# Name of the max valued product

In [ ]:
# La columna item_price no es numérica
item_price_raw = chipo.iloc[:, -1]

# Eliminamos los símbolos que nos impiden pasarlo a float
item_price_raw = item_price_raw.str.replace("$", "")
item_price = item_price_raw.str.replace(" ", "")

# Convertimos los strings a float para poder sacar el máximo
item_price = item_price.astype(float)
item_price

In [5]:
item_price_raw = chipo.iloc[:, -1]
item_price_raw

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [6]:
item_price_raw = item_price_raw.str.replace("$", "")
item_price_raw

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [7]:
item_price = item_price_raw.str.replace("", "")
item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [8]:
item_price = item_price.astype(float)
item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [10]:
chipo['item_price'] = item_price

In [11]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [12]:
chipo['item_price'].max()

44.25

### Step 4. How many products cost more than $10.00?

In [13]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [15]:
mask_gt10 = chipo['item_price'] > 10
mask_gt10

0       False
1       False
2       False
3       False
4        True
        ...
4617     True
4618     True
4619     True
4620    False
4621    False
Name: item_price, Length: 4622, dtype: bool

In [16]:
chipo[mask_gt10]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

In [17]:
item_price_vc = chipo['item_price'].value_counts()
item_price_vc

8.75     730
11.25    521
9.25     398
4.45     349
8.49     311
        ...
13.35      1
7.50       1
4.36       1
11.80      1
11.49      1
Name: item_price, Length: 78, dtype: int64

In [19]:
item_price_vc.index > 10

array([False,  True, False, False, False,  True, False, False, False,
       False, False, False, False, False,  True, False, False,  True,
       False,  True, False,  True, False, False, False,  True, False,
       False, False,  True,  True, False,  True,  True, False, False,
       False,  True,  True, False,  True, False, False, False, False,
        True, False, False,  True,  True, False, False, False, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True,  True,  True,  True, False,
       False,  True, False, False,  True,  True])

In [20]:
item_price_vc[item_price_vc.index > 10]

11.25    521
11.75    284
10.98     99
11.48     51
17.50     40
11.89     26
16.98     19
22.50     13
18.50     12
21.96     10
11.08     10
17.98      7
23.50      6
10.58      5
26.25      3
22.16      2
23.78      2
27.75      2
35.00      2
17.80      1
32.94      1
44.25      1
15.00      1
22.20      1
13.52      1
16.38      1
33.75      1
10.50      1
35.25      1
12.98      1
26.07      1
22.96      1
13.35      1
11.80      1
11.49      1
Name: item_price, dtype: int64

In [21]:
item_price_vc[item_price_vc.index > 10].sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 11.25    521
11.75    284
10.98     99
11.48     51
17.50     40
11.89     26
16.98     19
22.50     13
18.50     12
21.96     10
11.08     10
17.98      7
23.50      6
10.58      5
26.25      3
22.16      2
23.78      2
27.75      2
35.00      2
17.80      1
32.94      1
44.25      1
15.00      1
22.20      1
13.52      1
16.38      1
33.75      1
10.50      1
35.25      1
12.98      1
26.07      1
22.96      1
13.35      1
11.80      1
11.49      1
Name: item_price, dtype: int64>

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

V2

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?