# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import requests
import json

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [3]:
apple_stock_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv'

response = requests.get(apple_stock_url)

### Step 3. Assign it to a variable apple and apply a head()

In [4]:
df_apple = pd.read_csv(apple_stock_url)

In [5]:
df_apple.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 4.  Check out the type of the columns

In [6]:
df_apple['Date'] = pd.to_datetime(df_apple['Date'])

In [7]:
df_apple.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

### Step 5. Transform the Date column as a datetime type and check the info()

In [8]:
df_apple.set_index(df_apple['Date'],inplace = True)

In [9]:
df_apple.info(10)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8465 entries, 2014-07-08 to 1980-12-12
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       8465 non-null   datetime64[ns]
 1   Open       8465 non-null   float64
 2   High       8465 non-null   float64
 3   Low        8465 non-null   float64
 4   Close      8465 non-null   float64
 5   Volume     8465 non-null   int64
 6   Adj Close  8465 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 529.1 KB

### Step 6.  Set the date as the index

In [10]:
df_apple.set_index('Date',inplace = True) # aqui ns ahorramos el paso de eliminar la columna aparte de remplazarla

In [11]:
df_apple

             Open   High    Low  Close     Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...           ...    ...    ...    ...        ...        ...
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 6 columns]

### Step 7.  Is there any duplicate dates?

In [12]:

df_apple.duplicated().sum()

0

In [13]:
df_apple.nunique() == len(df_apple)

Open         False
High         False
Low          False
Close        False
Volume       False
Adj Close    False
dtype: bool

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [14]:
df_apple.tail()

             Open   High    Low  Close     Volume  Adj Close
Date
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

In [17]:
df_apple.sort_values(by='Date')

             Open   High    Low  Close     Volume  Adj Close
Date
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
...           ...    ...    ...    ...        ...        ...
2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35

[8465 rows x 6 columns]

### Step 9. Get the last business day of each month

In [22]:
monthly = df_apple.asfreq('BM')

In [23]:
monthly

              Open    High     Low   Close       Volume  Adj Close
Date
1980-12-31   34.25   34.25   34.13   34.13    8937600.0       0.53
1981-01-30   28.50   28.50   28.25   28.25   11547200.0       0.44
1981-02-27   26.50   26.75   26.50   26.50    3690400.0       0.41
1981-03-31   24.75   24.75   24.50   24.50    3998400.0       0.38
1981-04-30   28.38   28.62   28.38   28.38    3152800.0       0.44
...            ...     ...     ...     ...          ...        ...
2014-02-28  529.08  532.75  522.12  526.24   92992200.0      74.76
2014-03-31  539.23  540.81  535.93  536.74   42167300.0      76.25
2014-04-30  592.64  599.43  589.80  590.09  114160200.0      83.83
2014-05-30  637.98  644.17  628.90  633.00  141005200.0      90.43
2014-06-30   92.10   93.73   92.09   92.93   49482300.0      92.93

[403 rows x 6 columns]

### Step 10.  What is the difference in days between the first day and the oldest

In [18]:
(df_apple.index[-1] - df_apple.index[0]).days

-12261

In [19]:
df_apple.index.max() - df_apple.index.min()

Timedelta('12261 days 00:00:00')

### Step 11.  How many months in the data we have?

In [27]:
monthly

              Open    High     Low   Close       Volume  Adj Close
Date
1980-12-31   34.25   34.25   34.13   34.13    8937600.0       0.53
1981-01-30   28.50   28.50   28.25   28.25   11547200.0       0.44
1981-02-27   26.50   26.75   26.50   26.50    3690400.0       0.41
1981-03-31   24.75   24.75   24.50   24.50    3998400.0       0.38
1981-04-30   28.38   28.62   28.38   28.38    3152800.0       0.44
...            ...     ...     ...     ...          ...        ...
2014-02-28  529.08  532.75  522.12  526.24   92992200.0      74.76
2014-03-31  539.23  540.81  535.93  536.74   42167300.0      76.25
2014-04-30  592.64  599.43  589.80  590.09  114160200.0      83.83
2014-05-30  637.98  644.17  628.90  633.00  141005200.0      90.43
2014-06-30   92.10   93.73   92.09   92.93   49482300.0      92.93

[403 rows x 6 columns]

In [26]:
monthly_period = monthly.to_period('M').index
monthly_period[-1] - monthly_period[0]

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

In [28]:
df_apple['Adj Close'].plot(figsize=(13,5,9), title='Cierre Ajustado Apple Stock')

TypeError: from_bounds() takes 4 positional arguments but 5 were given

### BONUS: Create your own question and answer it.