# Ejercicios de Estadística Descriptiva

## Univariante

# Ejercicio 1

Las cifras dadas en la tabla adjunta corresponden a miligramos de hidroxiprolina absorbidos por 1 miligramo de masa intestinal, analizados en distintos pacientes:

| hidroxipolina (mg) | 77.3 | 61.2 | 82.4 | 75.9 | 61 | 70.2 | 65 | 80 |
|--------------------|------|------|------|------|----|------|----|----|
| nº pacientes       | 3    | 10   | 15   | 13   | 8  | 5    | 2  | 0  |

Se pide:

1. Confeccionar la tabla de frecuencias.
2. Calcular la media, mediana, moda y cuartiles.
3. Calcular la desviación típica de la muestra.
4. ¿Qué porcentaje de observaciones se concentra en el intervalo $(x −5\sigma,x +5\sigma)$?

In [21]:
import pandas as pd

In [22]:
hidro_mg = [77.3, 61.2, 82.4, 75.9, 61, 70.2, 65, 80]
n_pacientes = [3, 10, 15, 13, 8, 5, 2, 0]

1. Confeccionar la tabla de frecuencias.

In [23]:
freq = pd.DataFrame({'x_i': hidro_mg, 'n_i': n_pacientes})
freq

    x_i  n_i
0  77.3    3
1  61.2   10
2  82.4   15
3  75.9   13
4  61.0    8
5  70.2    5
6  65.0    2
7  80.0    0

Calculamos la Frecuencia acumulada (F_i) para poder calcular la mediana

In [24]:
freq['N_i'] = freq['n_i'].cumsum()
freq

    x_i  n_i  N_i
0  77.3    3    3
1  61.2   10   13
2  82.4   15   28
3  75.9   13   41
4  61.0    8   49
5  70.2    5   54
6  65.0    2   56
7  80.0    0   56

2. Calcular la media, mediana, moda y cuartiles.

MEDIANA:

In [26]:
freq[freq['N_i'] >= 0.5].iloc[0]

x_i    77.3
n_i     3.0
N_i     3.0
Name: 0, dtype: float64

In [27]:
mediana = freq[freq['N_i'] >= 0.5].iloc[0, 0]
print("La mediana es {:.2f}".format(mediana))

La mediana es 77.30

MEDIA:

In [28]:
media = sum([x * y for x, y in zip(hidro_mg, n_pacientes)]) / sum(n_pacientes)
print("La media es de {:.2f}".format(media))

La media es de 72.06

MODA:

In [29]:
freq

    x_i  n_i  N_i
0  77.3    3    3
1  61.2   10   13
2  82.4   15   28
3  75.9   13   41
4  61.0    8   49
5  70.2    5   54
6  65.0    2   56
7  80.0    0   56

In [30]:
moda = freq['x_i'][freq['n_i']==freq['n_i'].max()].values
print("La moda es {0}".format(*moda))

La moda es 82.4

CUARTILES: 25% y 75%

Para ello necesitamos calcular la Frecuencia relativa y la Frecuencia relativa acumulada.

Frecuencia relativa:

In [31]:
freq['f_i'] = freq['n_i'] / freq['n_i'].sum()
freq['f_i (%)'] = freq['f_i'] * 100
freq

    x_i  n_i  N_i       f_i    f_i (%)
0  77.3    3    3  0.053571   5.357143
1  61.2   10   13  0.178571  17.857143
2  82.4   15   28  0.267857  26.785714
3  75.9   13   41  0.232143  23.214286
4  61.0    8   49  0.142857  14.285714
5  70.2    5   54  0.089286   8.928571
6  65.0    2   56  0.035714   3.571429
7  80.0    0   56  0.000000   0.000000

Frecuencia relativa acumulada:

In [33]:
freq['N_i'] = freq['f_i'].cumsum()
freq['N_i (%)'] = freq['f_i (%)'].cumsum()
freq

    x_i  n_i       N_i       f_i    f_i (%)     N_i (%)
0  77.3    3  0.053571  0.053571   5.357143    5.357143
1  61.2   10  0.232143  0.178571  17.857143   23.214286
2  82.4   15  0.500000  0.267857  26.785714   50.000000
3  75.9   13  0.732143  0.232143  23.214286   73.214286
4  61.0    8  0.875000  0.142857  14.285714   87.500000
5  70.2    5  0.964286  0.089286   8.928571   96.428571
6  65.0    2  1.000000  0.035714   3.571429  100.000000
7  80.0    0  1.000000  0.000000   0.000000  100.000000

In [34]:
cuartil1 = freq[freq['N_i'] >= 0.25].iloc[0, 0]
print("El cuartil 1 es {:.2f}".format(cuartil1))

El cuartil 1 es 82.40

In [35]:
cuartil3 = freq[freq['N_i'] >= 0.75].iloc[0, 0]
print("El cuartil 3 es {:.2f}".format(cuartil3))

El cuartil 3 es 61.00

3. Calcular la desviación típica de la muestra.

In [41]:
desviaciones = ((freq['x_i'] - media)** 2) * freq['n_i']
var = desviaciones.sum() / freq['N_i'].iloc[-1]
std = var ** 0.5

print("La desviación típica es de {:.2f}".format(std))

La desviación típica es de 64.44

4. ¿Qué porcentaje de observaciones se concentra en el intervalo $(x −5\sigma,x +5\sigma)$?

# Multivariante

# Ejercicio 2

Los valores del pH sanguíneo de 32 individuos son los siguientes:

|7.33 |7.31 |7.26 |7.33 |7.37 |7.27 |7.30 |7.33|
|-----|-----|-----|-----|-----|-----|-----|----|
|7.33 |7.32 |7.35 |7.39 |7.33 |7.38 |7.33 |7.31|
|7.37 |7.35 |7.34 |7.32 |7.29 |7.35 |7.38 |7.32|
|7.32 |7.33 |7.32 |7.40 |7.33 |7.32 |7.34 |7.33|

1. Agrupar los datos en 5 intervalos y confeccionar la tabla de frecuencias.
2. Calcular la media aritmética, la moda y la mediana.
3. Hallar el tercer decil.
4. Determinar el porcentaje de individuos que se concentra fuera del intervalo $(x −4\sigma,x +4\sigma)$

# Ejercicio 3

En pacientes con distrofia muscular progresiva (enfermedad de Duchenne), la actividad de creatinquinasa sérica se eleva llamativamente sobre el valor normal de 50 unidades por litro. Los siguientes
datos son niveles séricos de creatinquinasa (en unidades por litro) medidos en 24 jóvenes pacientes con la enfermedad confirmada:

|3720 |3795 |3340 |5600 |3800 |3580|
|-----|-----|-----|-----|-----|----|
|5500 |2000 |1570 |2360 |1500 |1840|
|3725 |3790 |3345 |3805 |5595 |3575|
|1995 |5505 |2055 |1575 |1835 |1505|

Se pide:

1. Agrupar los datos en 5 intervalos de clase.
2. Determinar la media y la desviación típica. Calcular la moda y la mediana.
3. Determinar el tercer cuartil, el séptimo decil y el centil 25.