# Ejercicios de Estadística Descriptiva

## Univariante

# Ejercicio 1

Las cifras dadas en la tabla adjunta corresponden a miligramos de hidroxiprolina absorbidos por 1 miligramo de masa intestinal, analizados en distintos pacientes:

| hidroxipolina (mg) | 77.3 | 61.2 | 82.4 | 75.9 | 61 | 70.2 | 65 | 80 |
|--------------------|------|------|------|------|----|------|----|----|
| nº pacientes       | 3    | 10   | 15   | 13   | 8  | 5    | 2  | 0  |

Se pide:

1. Confeccionar la tabla de frecuencias.
2. Calcular la media, mediana, moda y cuartiles.
3. Calcular la desviación típica de la muestra.
4. ¿Qué porcentaje de observaciones se concentra en el intervalo $(x −5\sigma,x +5\sigma)$?

In [1]:
import pandas as pd

In [2]:
hidro_mg = [77.3, 61.2, 82.4, 75.9, 61, 70.2, 65, 80]
n_pacientes = [3, 10, 15, 13, 8, 5, 2, 0]

1. Confeccionar la tabla de frecuencias.

In [5]:
freq = pd.DataFrame({'x_i': hidro_mg, 'n_i': n_pacientes})
freq = freq.sort_values(by="x_i")

In [6]:
freq

    x_i  n_i
4  61.0    8
1  61.2   10
6  65.0    2
5  70.2    5
3  75.9   13
0  77.3    3
7  80.0    0
2  82.4   15

Calculamos la Frecuencia acumulada (F_i) para poder calcular la mediana

In [7]:
freq['N_i'] = freq['n_i'].cumsum()
freq

    x_i  n_i  N_i
4  61.0    8    8
1  61.2   10   18
6  65.0    2   20
5  70.2    5   25
3  75.9   13   38
0  77.3    3   41
7  80.0    0   41
2  82.4   15   56

2. Calcular la media, mediana, moda y cuartiles.

MEDIANA:

In [9]:
freq[freq['N_i'] >= 0.5].iloc[0]

x_i    61.0
n_i     8.0
N_i     8.0
Name: 4, dtype: float64

In [10]:
mediana = freq[freq['N_i'] >= 0.5].iloc[0, 0]
print("La mediana es {:.2f}".format(mediana))

La mediana es 61.00

MEDIA:

In [19]:
media = sum([x * y for x, y in zip(hidro_mg, n_pacientes)]) / sum(n_pacientes)
print("La media es de {:.5f}".format(media))

La media es de 72.06429

MODA:

In [20]:
freq

    x_i  n_i       N_i       f_i    f_i (%)     N_i (%)
4  61.0    8  0.142857  0.142857  14.285714   14.285714
1  61.2   10  0.321429  0.178571  17.857143   32.142857
6  65.0    2  0.357143  0.035714   3.571429   35.714286
5  70.2    5  0.446429  0.089286   8.928571   44.642857
3  75.9   13  0.678571  0.232143  23.214286   67.857143
0  77.3    3  0.732143  0.053571   5.357143   73.214286
7  80.0    0  0.732143  0.000000   0.000000   73.214286
2  82.4   15  1.000000  0.267857  26.785714  100.000000

In [21]:
moda = freq['x_i'][freq['n_i']==freq['n_i'].max()].values
print("La moda es {0}".format(*moda))

La moda es 82.4

CUARTILES: 25% y 75%

Para ello necesitamos calcular la Frecuencia relativa y la Frecuencia relativa acumulada.

Frecuencia relativa:

In [22]:
freq['f_i'] = freq['n_i'] / freq['n_i'].sum()
freq['f_i (%)'] = freq['f_i'] * 100
freq

    x_i  n_i       N_i       f_i    f_i (%)     N_i (%)
4  61.0    8  0.142857  0.142857  14.285714   14.285714
1  61.2   10  0.321429  0.178571  17.857143   32.142857
6  65.0    2  0.357143  0.035714   3.571429   35.714286
5  70.2    5  0.446429  0.089286   8.928571   44.642857
3  75.9   13  0.678571  0.232143  23.214286   67.857143
0  77.3    3  0.732143  0.053571   5.357143   73.214286
7  80.0    0  0.732143  0.000000   0.000000   73.214286
2  82.4   15  1.000000  0.267857  26.785714  100.000000

Frecuencia relativa acumulada:

In [23]:
freq['N_i'] = freq['f_i'].cumsum()
freq['N_i (%)'] = freq['f_i (%)'].cumsum()
freq

    x_i  n_i       N_i       f_i    f_i (%)     N_i (%)
4  61.0    8  0.142857  0.142857  14.285714   14.285714
1  61.2   10  0.321429  0.178571  17.857143   32.142857
6  65.0    2  0.357143  0.035714   3.571429   35.714286
5  70.2    5  0.446429  0.089286   8.928571   44.642857
3  75.9   13  0.678571  0.232143  23.214286   67.857143
0  77.3    3  0.732143  0.053571   5.357143   73.214286
7  80.0    0  0.732143  0.000000   0.000000   73.214286
2  82.4   15  1.000000  0.267857  26.785714  100.000000

In [24]:
cuartil1 = freq[freq['N_i'] >= 0.25].iloc[0, 0]
print("El cuartil 1 es {:.2f}".format(cuartil1))

El cuartil 1 es 61.20

In [28]:
cuartil3 = freq[freq['N_i'] >= 0.75].iloc[0, 0]
print("El cuartil 3 es {:.2f}".format(cuartil3))

El cuartil 3 es 82.40

3. Calcular la desviación típica de la muestra.

In [27]:
desviaciones = ((freq['x_i'] - media)** 2) * freq['n_i']
var = desviaciones.sum() / freq['N_i'].iloc[-1]
std = var ** 0.5

print("La desviación típica es de {:.2f}".format(std))

La desviación típica es de 64.44

In [29]:
std = var ** 0.5
std

64.44197833267204

4. ¿Qué porcentaje de observaciones se concentra en el intervalo $(x −5\sigma,x +5\sigma)$?

# Multivariante

# Ejercicio 2

Los valores del pH sanguíneo de 32 individuos son los siguientes:

|7.33 |7.31 |7.26 |7.33 |7.37 |7.27 |7.30 |7.33|
|-----|-----|-----|-----|-----|-----|-----|----|
|7.33 |7.32 |7.35 |7.39 |7.33 |7.38 |7.33 |7.31|
|7.37 |7.35 |7.34 |7.32 |7.29 |7.35 |7.38 |7.32|
|7.32 |7.33 |7.32 |7.40 |7.33 |7.32 |7.34 |7.33|

1. Agrupar los datos en 5 intervalos y confeccionar la tabla de frecuencias.
2. Calcular la media aritmética, la moda y la mediana.
3. Hallar el tercer decil.
4. Determinar el porcentaje de individuos que se concentra fuera del intervalo $(x −4\sigma,x +4\sigma)$

# Ejercicio 3

En pacientes con distrofia muscular progresiva (enfermedad de Duchenne), la actividad de creatinquinasa sérica se eleva llamativamente sobre el valor normal de 50 unidades por litro. Los siguientes
datos son niveles séricos de creatinquinasa (en unidades por litro) medidos en 24 jóvenes pacientes con la enfermedad confirmada:

|3720 |3795 |3340 |5600 |3800 |3580|
|-----|-----|-----|-----|-----|----|
|5500 |2000 |1570 |2360 |1500 |1840|
|3725 |3790 |3345 |3805 |5595 |3575|
|1995 |5505 |2055 |1575 |1835 |1505|

Se pide:

1. Agrupar los datos en 5 intervalos de clase.
2. Determinar la media y la desviación típica. Calcular la moda y la mediana.
3. Determinar el tercer cuartil, el séptimo decil y el centil 25.